@import 'tailwindcss';
@import "../../node_modules/preline/variants.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

/* Preline UI */
@source "../../node_modules/preline/dist/*.js";

/* Plugins */
@plugin "@tailwindcss/forms";

@theme {
    /* New Color Scheme */
    --color-primary: #0046FF;
    --color-body: #03081b;
    --color-white: #ffffff;
    --color-background: #f5f5f7;
    --color-neutral: #F5F1DC; /* gold-sand */
    --color-accent: #FF8040; /* punch */
    --color-secondary: #001BB7; /* Secondary*/
    --color-taupe: #1d3351;
    --color-terracotta: #FF8040;

    /* Primary shades (darker for hover states & shadows)*/
    --color-primary-shade-10: #4a56dc;
    --color-primary-shade-20: #4049c4;
    --color-primary-shade-30: #363cac;
    --color-primary-shade-40: #2c2f94;
    --color-primary-shade-50: #22227c;
    --color-primary-shade-60: #1b1b64;
    --color-primary-shade-70: #14144c;
    --color-primary-shade-80: #0d0d34;
    --color-primary-shade-90: #06061c;

    /* Primary Tints (lighter for highlights & backgrounds)*/
    --color-primary-tint-10: #6372f5;
    --color-primary-tint-20: #7281f6;
    --color-primary-tint-30: #8190f7;
    --color-primary-tint-40: #909ff8;
    --color-primary-tint-50: #9faef9;
    --color-primary-tint-60: #aebdfa;
    --color-primary-tint-70: #bdccfb;
    --color-primary-tint-80: #ccdbfc;
    --color-primary-tint-90: #dbe9fd;

    --font-inter: "Inter", sans-serif;

}

@layer base {
    * {
        @apply p-0 m-0;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-white text-body font-inter;
    }

    p {
        @apply text-base leading-[25.6px] tracking-[-0.32px] font-normal;
    }

    h1 {
        @apply text-[32px] lg:text-[40px] leading-[45px] tracking-[-2.48px] font-medium;
    }

    h2 {
        @apply text-[24px] md:text-[32px] leading-[30px] md:leading-[40px] tracking-[-1.96px] md:tracking-[-1.24px] font-medium;
    }

    h4 {
        @apply text-[25px] leading-[32.5px] tracking-[-0.4px] font-normal;
    }

    img {
        @apply w-full h-full object-cover max-w-full block;
    }

    a, button, input, select, textarea {
        @apply transition-colors duration-300 ease-in-out;
    }
}

@layer utilities {
    .subheading {
        @apply text-[22px] leading-[35.2px] tracking-[-0.44px] font-normal;
    }

    .subheading-small {
        @apply text-[18px] leading-[28.8px] tracking-[-0.36px] font-normal;
    }

    .text-balance {
        text-wrap: balance;
    }

    .wrapper {
        @apply max-w-[1200px] mx-auto w-full h-full;
    }

    .wrapper-text {
        @apply flex flex-col items-center justify-center relative gap-6 max-w-[660px] mx-auto text-center
    }

    .nav-background {
        background: #03081b;
        background: linear-gradient(110deg, rgba(3, 8, 27, 1) 25%, rgba(50, 47, 134, 1) 65%, rgba(3, 8, 27, 1) 100%);
    }

    .check {
        @apply border border-red-500;
    }

}

@layer components {
    .hero-text h1,
    .hero-text .subheading {
        opacity: 0;
        will-change: transform, opacity;
    }

    @keyframes gradient-move {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
    .animate-gradient-move {
        animation: gradient-move 10s ease infinite;
        will-change: background-position;
        transform: translateZ(0);
    }

    .grid-card-6 {
        @apply grid auto-rows-[minmax(0,1fr)] gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-[repeat(3,minmax(50px,1fr))] lg:grid-rows-[repeat(2,minmax(0,1fr))]  justify-center relative w-full max-w-[1200px] overflow-visible p-0;
    }

    .grid-card-3 {
        @apply grid auto-rows-[minmax(0,1fr)] gap-5 grid-cols-1 md:grid-cols-[repeat(3,minmax(50px,1fr))] justify-center relative w-full max-w-[1200px] overflow-visible p-0;
    }

    .grid-card-2 {
        @apply grid auto-rows-[minmax(0,1fr)] gap-5 grid-cols-1 md:grid-cols-[repeat(2,minmax(50px,1fr))] justify-center relative w-full max-w-[1200px] overflow-visible p-0;
    }

    .grid-card-wrap {
        @apply grid auto-rows-[minmax(0,1fr)] grid-cols-1 sm:grid-cols-[repeat(2,minmax(50px,1fr))] md:grid-cols-[repeat(3,minmax(50px,1fr))] justify-center relative w-full max-w-[1200px] overflow-visible p-0;
    }

    .content-flex {
        @apply flex flex-col gap-5 items-start content-start justify-start px-5 lg:px-10 relative;
    }

    .content-flex-center {
        @apply flex flex-col items-center justify-center relative px-5 lg:px-10;
    }

    .btn {
        @apply relative cursor-pointer text-body transition-all flex items-center justify-center whitespace-nowrap rounded-full duration-300 shadow-lg hover:shadow-xl h-[42px] text-lg pl-[3rem] pr-4 bg-primary shadow-primary-shade-40/30 hover:shadow-primary-shade-50/30 border border-secondary;
    }

    .btn-icon {
        @apply absolute left-0 top-0 mt-1 ml-1 bg-white text-body p-[0.35rem] bottom-1 transition-all rounded-full duration-300 size-8;
    }
}
